body{
    background-image:linear-gradient(to right, rgba(185, 198, 210, 0.5), rgb(196, 196, 196));
    max-width: 100vw;
    min-width: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    padding: 10px;
}

.app-container{
    max-width: 600px;
    margin: auto;
}

.header{
    padding: 20px 0;
}

.header h1{
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}


.search-container{
    width: 100%;
    height: 36px;
    display: flex;
    padding: 10px 8px;
    align-items: center;
    background: transparent;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}

.search-container .svg{
    width: 22px;
    height:22px ;
}

.search-container input{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 16px;
    color: rgb(25, 34, 61);
}




.app{
    padding: 10px;
}
.weather-section{
    margin-top: 50px;  
    padding: 10px;

}
.weather-card{
    width: 100%;
    min-height: 184px ;
    background: linear-gradient(90deg, #9f9ea1 0%,#bfc1b1 103.55%);
    border-radius: 20px;
    position: relative;
    padding: 20px;
    display:flex;
    flex-direction: column;
}
.weather-info{
    display: flex;
    gap: 15px;
    align-items: center;
    color: #fff1f1;
}

.weather-temp{
    font-size: 64px;
    font-weight: 400;

}
.weather-place{
    font-size: 22px;
}
.weather-avatar{
    position:absolute;
    top: -60px;
    right: -1px;
    /* height: 120px; */
}
.weather-avatar img{
    height: 150px;
}

footer{
    position:fixed;
    /* width: 100%; */
    bottom: -160px;
    text-align: center;
}